
    /* Set gray background color and 100% height */
    .navbar {
	  min-height: 80px; 
	  background-color: #4CA6A6;
	  background: linear-gradient(#4CA6A6, #52B396)
    }
    	
    /* Set black background color, white text and some padding */
    footer {
	  position:relative;
      background: linear-gradient(#52B396, #4CA6A6);
      min-height: 40px; 
    }
	
	.card{
		margin: 8px;
	}
	.card-header{
		background-color: #349B7C;
		height: 35px;
		padding: 5px 10px 2px;
		font-weight: 550;
		font-family: Verdana;
	}
	
	.nav-item:hover{
		background: #4CA6A6;
		border: 5px solid #4CA6A6;
		border-radius: 0px 0px 10px 10px;
	}
	
	.navbar-nav .nav-link{
		padding:1.5rem 1rem;
		font-size:1.5rem;
	}
	
	#qty{
		width: 80px;
		flex:none;
		margin:5px;
	}
	
	.footerText{
		position:absolute;
		bottom:4px;	
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
	}
	
	.custom-file-input ~ .custom-file-label::after {
    content: "";
}
    /* On small screens, set height to 'auto' for sidenav and grid */
   // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { max-width: 500px }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { max-width: 600px }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { max-width: 800px }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { max-width: 800px }
	