
	#modalRegisterForm label{
		padding-right:3px;
		white-space: nowrap;
	}
	#modalRegisterForm.col-sm-5{
		padding-left:3px;
		white-space: nowrap;
	}
	
	.col-sm-2.error{
		color:#990000;
		white-space: nowrap;
		font-size: 80%;
		padding:0px;
	}
	
	.modal-content.register{
		background-color: #4CA6A6;
		background: linear-gradient(#4CA6A6, #96B396)
	}
	
	#banner{
		width:100%;
		height:350px;
		overflow:hidden;
	}
	
	.loginText{
		color:black;
		opacity:1;
	}
	
	.dropdown-menu{
		border: none;
		padding:0px;
		margin: 0px;
		background: linear-gradient(#96B396, #96B380)
	}
	
	.dropdown-item:hover{
		
		background: linear-gradient(#4CA6A6, #96B396)
	}
	
	.modal-content.login{
		background-color: #4CA6A6;
		background: linear-gradient(#4CA6A6, #96B396)
	}
	
	.btn.login{
		margin-top:20px;
		    border: solid;
			color: #99f1ff;
			opacity: .4;
			background-color:#99f1ff;;
	}
	
	.signup{
		color:black;
		text-decoration: underline;
	}
	.signup:hover{
		color:black;
		text-decoration: underline;
		border:solid;
	}
    	
    .footer {
	  position:relative;
      background: linear-gradient(#52B396, #4CA6A6);
      min-height: 40px; 
    }
	
	.card{
		margin: 8px;
		
	}
	.card.preview-card{
		width:300px;
		height: 380px;
	
	}
   
	.card-header{
		background-color: #349B7C;
		height: 35px;
		padding: 5px 10px 2px;
		font-weight: 550;
		font-family: Verdana;
	}
	
	.cardlink{
		text-decoration: inherit;
		color: inherit;
		
	}
	
	.cardlink:hover{
		text-decoration: inherit;
		color: inherit;
		opacity:0.8;
	}
	
	.card-body.preview-card{
		padding:0px;
		flex:none;
	}
	
	.dropdown-menu{
		border-radius:0px;
	}
	
	.row.best-sellers-title{
		width:100%;
		font-family:Arial,Helvetica,sans-serif;
		margin-top:20px;
		font-size:200%;
	}
	
	.preview-card-row{
		width:100%;
	}
	
	.img-div{
		width:295px;
		height:300px;
		overflow: hidden;
	}
	
	.card-img-top{
		max-width:auto;
		height:300px;
		
	}
		
	.card-text.product-name{
		margin:2px;
		font-family: Georgia, serif;
		color: #22B;
		font-weight: 700;
		font-size:1.3em;
		
	}
	
	.product-price{
		font-family: Georgia, serif;
		font-size: 120%;
		color: green;
		border: 0px;
	}
	
	.original-price{
		font-family: Georgia, serif;
		font-size: 120%;
		color: grey;
		border: 0px;
		text-decoration: line-through;
	}

    .navbar {
	  background-color: #4CA6A6;
	  background: linear-gradient(#4CA6A6, #96B396)
    }
	
	.navbar-nav{
		
	}
	
	.navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 11px;
    padding-bottom: 11px;
    line-height: 27px;
  }
	
	.nav-item:hover{
		background: linear-gradient(#96B396, #4CA6A6);
		border: 0px solid #4CA6A6;
	}
	
	.navbar-brand:hover{
		background: linear-gradient(#96B396, #4CA6A6);
		border: 0px solid #4CA6A6;
		border-radius:20px;
	}
	
	.dropdown:hover > .dropdown-menu {
    display: block;
	}
	
	.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
	}
	
	.navbar-nav .nav-link{
		padding:1.5rem 1rem;
		font-size:1.5rem;
	}
	.btn.login{margin:0px;}
	
	#qty{
		width: 80px;
		flex:none;
		margin:5px;
	}
	

	.card-footer{
		padding:0px;
		margin-bottom:5px;
		padding-right:5px;
	}
	
	.footerText{
		position:absolute;
		bottom:4px;	
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
	}
	
	.row.cart-item-header{
		 color: black;
		 font-size:30px;
	}
	
	.shoppingCartIcon{
		margin-right:15px;
		position: relative;
	}
	.notify-badge{
    position: absolute;
    top: -10px;
	right:-5px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:2px 4px;
    font-size:10px;
}
	a.list-group-item {
	margin:5px;
    max-height:150px;
	width:100%;
	display:inline;
}

a.list-group-item.row{
	max-height: 100%;
	margin:5px;
}

.cart-row{
	height:100%;
}

.cart-title{
	font-size:20px;
}
.cart-item-col{
	color: black;
	text-align: center;
}

.cart-image{
	height:120px;
	width: 120px;
}
	.custom-file-input ~ .custom-file-label::after {
    content: "";
}
    /* On small screens, set height to 'auto' for sidenav and grid */
   // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { max-width: 500px }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { max-width: 600px }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { max-width: 800px }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { max-width: 800px }
	