<a href="/viewCart.html">
	<div class="shoppingCartIcon">
		{{#if_not cartQty 0}}<span class="notify-badge">{{cartQty}} </span> {{/if_not}}
		<i data-count="3" class="fas fa-shopping-cart fa-2x"></i>
	</div>
</a>
